h1 {
  color: #ff6347;
  text-align: center;
  font: arial semibold;
}

nav a {
  color: blue;
  text-align: center;
  font: arial light;
}

nav a:hover {
  color: red;
  text-align: center;
  font: arial light;
}

