#Header {
 background-image: linear-gradient(to right, #DB324D , #991529);
 padding: -5%;
}

h1 {
  padding-top: 70px;
  color: #511C29;
  text-align: center;
  font-family: Georgia, serif;
  font-weight: bold;
}

#p0 {
  padding-top: 50px;
  color: #991529;
  text-align: center;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 28px;
}

#container {
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    }

.nav {
   text-align: center;
   margin-bottom: 20px;
   padding: 35px;
}

.nav a {
  color: #CFDBD5;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.nav a:active {
  color: #6290C8;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.nav a:visited {
  color: #CFDBD5;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.nav a:hover {
  color: #C9C9C9;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  text-decoration: none;
}

#week3 a:visited {
  color: #CFDBD5;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

#p1 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 22px;
 padding-top: 30px;
 color: #A29C9B;
}

#p2 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 16px;
 margin: auto;
 line-spacing: 20px;
 padding-bottom: 15px;
 color: #56494E;
}

#p3 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 22px;
 color: #A29C9B;
}

#p4 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 16px;
 margin: auto;
 line-spacing: 20px;
 padding-bottom: 15px;
 color: #56494E;
}

#p5 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 22px;
 color: #A29C9B;
}

#p6 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 16px;
 margin: auto;
 line-spacing: 20px;
 padding-bottom: 15px;
 color: #56494E;
}

#p7 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 22px;
 color: #A29C9B;
}

#p8 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 16px;
 margin: auto;
 line-spacing: 20px;
 padding-bottom: 15px;
 color: #56494E;
}

#p9 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 22px;
 color: #A29C9B;
}

#p10 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 16px;
 margin: auto;
 line-spacing: 20px;
 padding-bottom: 15px;
 color: #56494E;
}

#p11 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 22px;
 color: #A29C9B;
}

#p12 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 16px;
 margin: auto;
 line-spacing: 20px;
 padding-bottom: 40px;
 color: #56494E;
}

img {
  width: 600px;
  padding: 10px;
  margin-left: 20%;
}

iframe {
  width: 600px;
  padding: 10px;
  margin-left: 20%;
}

#gallery {
     margin-left: 10%;
     width:80%;
     margin-top: 5vh;
}
