#Header {
 background-color: #272727;
}

h1 {
  padding-top: 70px;
  color: #FFB600;
  text-align: center;
  font-family: Georgia, serif;
  font-weight: bold;
}

.nav {
   text-align: center;
   padding: 20px;
   margin: 0 5px;
   margin-bottom: 20px;
}

.nav a {
  color: #CFDBD5;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: light;
  text-decoration: none;
}

.nav a:visited {
  color: black;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: light;
  text-decoration: none;
}

.nav a:hover {
  color: #C9C9C9;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: light;
  text-decoration: none;
}

#week3 a:visited {
  color: black;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

#p1 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 26px;
}

#p2 {
 text-align: center;
 font-family: Helvetica, sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 20px;
 max-width: 900px;
 float: center;
}

