#Header {
 background-image: linear-gradient(to right, #028093 , #034049);
 margin: -8px;
 margin-top: -22px;
 height: 250px;
}

h1 {
  padding-top: 70px;
  color: white;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 42px;
}

#p0 {
  padding-top: 50px;
  color: #044751;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  font-family: 'Rubik', sans-serif;
}

#container {
    background-color: #fff;
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
    }

.dropbtn {
  background-color: #EDBD2D;
  color: #FFF;
  padding: 16px;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 200px;
}

.dropdown {
 position: relative;
 display: inline-block;
 text-align: left;
 margin-left: 43%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #EDC54E;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #034049;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {
 display:block;
 width: 200px;
}

.nav {
   text-align: center;
   margin-bottom: 20px;
   padding: 35px;
}

.nav a {
  color: #CFDBD5;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.nav a:active {
  color: #6290C8;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.nav a:visited {
  color: #CFDBD5;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.nav a:hover {
  color: #FFF;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

#week3 a:visited {
  color: #CFDBD5;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

#p1 {
 text-align: center;
 font-family: 'Rubik', sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 22px;
 padding-top: 30px;
 color: #028093;
}

#p2 {
 text-align: center;
 font-family: 'Rubik Light', sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 16px;
 margin: auto;
 line-spacing: 20px;
 padding-bottom: 15px;
 color: #666;
 line-height: 22px;
 text-align: justify;
}

#p3 {
 text-align: center;
 font-family: 'Rubik', sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 22px;
 color: #028093;
}

#p4 {
 text-align: center;
 font-family: 'Rubik Light', sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 16px;
 margin: auto;
 line-spacing: 20px;
 padding-bottom: 15px;
 color: #666;
 line-height: 22px;
 text-align: justify;
}

#p5 {
 text-align: center;
 font-family: 'Rubik', sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 22px;
 color: #028093;
}

#p6 {
 text-align: center;
 font-family: 'Rubik Light', sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 16px;
 margin: auto;
 line-spacing: 20px;
 padding-bottom: 15px;
 color: #666;
 line-height: 22px;
 text-align: justify;
}

#p7 {
 text-align: center;
 font-family: 'Rubik', sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 22px;
 color: #028093;
}

#p8 {
 text-align: center;
 font-family: 'Rubik Light', sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 16px;
 margin: auto;
 line-spacing: 20px;
 padding-bottom: 15px;
 color: #666;
 line-height: 22px;
 text-align: justify;
}

#p9 {
 text-align: center;
 font-family: 'Rubik', sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 22px;
 color: #028093;
}

#p10 {
 text-align: center;
 font-family: 'Rubik Light', sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 16px;
 margin: auto;
 line-spacing: 20px;
 padding-bottom: 15px;
 color: #666;
 line-height: 22px;
 text-align: justify;
}

#p11 {
 text-align: center;
 font-family: 'Rubik', sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 22px;
 color: #028093;
}

#p12 {
 text-align: center;
 font-family: 'Rubik Light', sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 16px;
 margin: auto;
 line-spacing: 20px;
 padding-bottom: 40px;
 color: #666;
 line-height: 22px;
 text-align: justify;
}

#p13 {
 text-align: center;
 font-family: 'Rubik', sans-serif;
 font-weight: 700;
 text-decoration: none;
 font-size: 22px;
 color: #028093;
}


#p14 {
 text-align: center;
 font-family: 'Rubik Light', sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 16px;
 margin: auto;
 line-spacing: 20px;
 padding-bottom: 40px;
 color: #666;
 line-height: 22px;
 text-align: justify;
}

img {
 width: 600px;
 padding-top: 22px;
 margin-left: 17%;
 border-bottom: 10px solid #EDBD2D;
}

iframe {
  width: 600px;
  padding: 10px;
  padding-top: 22px;
  margin-left: 16%;
}

#gallery {
     margin-left: 10%;
     width:80%;
     margin-top: 5vh;
}

.tenor-gif-embed {
     margin-left: 2%;
}
